* {
    padding: 0;
    margin: 0;
}

html {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 72px;
  width: 100%;
  background-color: #28324e;
  font: 12px Helvetica;
}
.ChatInput__chat_form___3STND {
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
}

.ChatInput__chat_form___3STND>input {
  padding: 0px 12px 0px 12px;
  height: 100%;
  width: 100%;
  border: 0;
}

.ChatInput__chat_form___3STND>button {
  width: 48px;
  height: 100%;
  color: #EFEFEF;
  background-color: #9365B8;
  border: none;
}
.Messages__messages_container___3NGPl {
  background-color: #475577;
  margin: 12px;
  margin-bottom: 48px;
  padding: 12px;
  box-sizing: border-box;
  height: 100%;
}

.Messages__message___XdXet {
  background-color: #EFEFEF;
  color: #28324e;
  margin: 12px;
  padding: 12px;
}
.App__app___i1ZuH {
  position: relative;
  width: 100%;
  height: 100%;
}
