.messages_container {
  background-color: #34495e;
  color: #EFEFEF;
  margin: 12px;
  margin-bottom: 24px;
  padding: 12px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}

.message {
  margin: 0px 12px;
}

.message>hr {
  margin: 12px 0px;
  border-color: #4c5a69;
  border-top: 0;
}
